.recipe-wrap {
  display: flex;
  flex-direction: column;
  margin: 4rem 0;
  align-self: center;
  max-width: 60vw;
  width: 100%;
  /* padding: 2rem 3rem; */
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.top-side {
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem 1rem 3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bottom-side {
  padding: 2rem 3rem;
}

.recipe-course {
  font-weight: 300;
}

.back-button {
  margin-top: 2rem;
  background-color: #EDF2F7;
  border: none;
  border-bottom: rgba(0, 0, 0, 0.1) 2px solid;
  border-radius: 4px;
  padding: 0.7rem 1.5rem;
}

.button-wrapper a {
  padding: 0;
}