.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipes-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3rem;
}